.project-container {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Desktop: 3 columns */
    gap: 20px;
    width: 90%;
    margin: 40px auto;
}

.project-box {
    position: relative;
    /* needed for overlay button */
    background: #4a90e2;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    overflow: hidden;
    /* ensures button stays inside rounded corners */
}

.project-box img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: block;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Overlay button */
.project-box a {
    position: absolute;
    top: 80%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-decoration: none;
}

.project-box h4 {
    position: absolute;
    top: 10px;
    /* space from top */
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 18px;
    color: white;
    z-index: 2;
    /* above the image */
    padding: 5px 10px;
    border-radius: 5px;
}

.project-box button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 0.4px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-box button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
}

/* Tablet: 2 columns */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile: 1 column */
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .project-box img {
        height: 150px;
    }
}