/* Base styles */
.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}



.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

/* -------- Responsive Navbar -------- */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .sign {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: rgba(192, 192, 120, 0.815);
    padding: 20px;
    gap: 20px;
    display: none;
    /* hidden by default */
    text-align: center;
    color: white;
  }

  .nav-links li {
    padding: 7px;
    ;
  }

  .nav-links.active {
    display: flex;
    /* show when toggled */
  }

  .nav-links li {
    font-size: 18px;
    width: 100%;
  }
}